*.aux
*.log
*.out
*.toc
*.fls
*.fdb_latexmk
*.synctex.gz
.temp/
gnn/results/
packages/cancer/results/
analysis/
*/__pycache__/*
*.pyc
.DS_Store
packages/cancer/data/cache/
packages/cancer/data/changelog/
packages/core/language/data/cache/
